testing/xml_task_2_yes/xml_task_2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="steam">
    <xs:complexType>
      <xs:sequence>
        
        
        
        
        <xs:element name="developers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="developer" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="origin"/>
                    <xs:element type="xs:short" name="founding_year"/>
                    <xs:element type="xs:short" name="employee_count"/>
                    <xs:element type="xs:boolean" name="independent"/>
                    <xs:element type="xs:string" name="phone"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="developer_id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>






        <xs:element name="games">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="game" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:dateTime" name="release_date"/>
                    <xs:element name="size">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute type="xs:string" name="unit"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="price">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute type="xs:string" name="currency"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="games:review_score" name="steam_reviews"/>
                    <xs:element type="xs:integer" name="review_count"/>
                    <xs:element type="xs:string" name="genre"/>
                    <xs:element name="licence">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="type"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="game_id"/>
                  <xs:attribute type="xs:string" name="developer_id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:simpleType name="review_score" final="restriction" >
          <xs:restriction base="xs:string">                            
            <xs:enumeration value="Overhwelmingly Positive" />
            <xs:enumeration value="Very Positive" />
            <xs:enumeration value="Positive" />
            <xs:enumeration value="Mostly Positive" />
            <xs:enumeration value="Mixed" />
            <xs:enumeration value="Mostly Negative" />
            <xs:enumeration value="Negative" />
            <xs:enumeration value="Very Negative" />
            <xs:enumeration value="Overwhelmingly Negative" />
          </xs:restriction>
        </xs:simpleType>


      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>